*
{ margin: auto 0; padding: 0; }


@font-face{
	font-family: Poppins;
	src: url('Poppins/Poppins-ExtraLight.otf');
}

#size{

	position: relative;
}

#main{
	position: absolute;
}

#header{
	font-family: Poppins;
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
	justify-content:space-evenly;
	margin: auto 0;
}

h1{
	margin-top: -3px;
}

#menu{
	font-family: Poppins;
	list-style-type: none;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

#Klogo{
	display: flex;
}

li{
	margin-right: 35px;
}

a{
	text-decoration: none;
}

#main{
	margin-top: 12px;
}

/*#image{
	
	width: 100%;
}*/